.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imageContainer {
  width: 500px;
  height : 280px;
  justify-content: center;
  text-align: center;
  vertical-align:top;
  display: inline-block;
}

.cardContainer {
  width:510px; height:300px; opacity:1.5;  background:yellow;
  position: relative;


}

.cardUpperRight{
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}
.cardUpperLeft{
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.cardBottomLeft{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}
.cardBottomRight{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.caption {
  display: block;
}

img {
  width: 250px;
  height: 250px;
}